.contact-container {
    padding-top: 100px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    
   
}
.contact-first-section{
    display: flex;
    justify-content: space-around;
   align-items: baseline;
   margin-bottom: 50px;
}
.get-in-touch {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 30px;
    padding-top: 20px;
}
.contact-us{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.contact-us-1>:nth-child(1){
    font-size: 25px;
    font-weight: bold;
}
.contact-us-2>:nth-child(1){
    font-size: 25px;
    font-weight: bold;
}
.contact-second-section{
    overflow: hidden;
    height: 0;
    padding-bottom: 30%;
    position: relative;
    margin-bottom: 30px;
}
.contact-second-section iframe {
    border: 0px;
    height: 100%;
    width: 100%;
    left: 0%;
    top: 0%;
    position:absolute;
}
span{
    color: #c70e18;
}

@media only screen and (max-width: 767px) {
    /* Your CSS rules for mobile devices here */
    .contact-first-section{
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 50px;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Your CSS rules for medium screens here */
    .contact-first-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
     }
   
  }