.home-container {
    width: 90%;
    margin: auto;
}
.heading {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}
.heading-clr {
    color: #c70e18;
}
.first-section {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    /* align-items: center; */
}
.first-section-first>:nth-child(1){
    font-size: 80px;
    font-weight: bold;
}
.first-section-first>:nth-child(2){
    font-size: 45px;
    text-align: center;
    font-weight:500;
}
.first-section-first>:nth-child(3){
    font-size: large;
    text-align: center;
}
.crusted {
  height: 450px;
  width: 450px;
  border: 1px solid black;
}
.chef-container {
    width: 90%;
    margin: auto;
    display: flex;
    gap: 20px;
}
.recipe-container {
    width: 90%;
    margin: auto;
    display: flex;
    gap: 20px;
}
.card-title>p{
    text-align: center;
}
